<app-header></app-header>

<div class="main">
    <div class='article-banner'>
        <h1>{{article?.title}}</h1>
        <div class="article-info">
            <div class='author-summary'>
                <img *ngIf="!article?.author.image" src="" alt="" routerLink='/profile/{{article?.author.username}}'>
                <img *ngIf="article?.author.image" src="{{article?.author.image}}" alt="" routerLink='/profile/{{article?.author.username}}'>
                <div class='article-details'>
                    <div class='author-name' routerLink='/profile/{{article?.author.username}}'>{{article?.author.username}}</div>
                    <div clase='article-date'>{{article?.createdAt | date}}</div>
                </div>
            </div>
            <div class='favorites-count' [ngClass]='{favorited: favoriteStatus}' (click)='toggleFavorite(article); this.favoriteStatus === true ? article.favoritesCount = article.favoritesCount + 1 : article.favoritesCount = article.favoritesCount - 1'>
                <i class="fas fa-heart"></i> Favourite Article ({{article?.favoritesCount}})
            </div>
        </div>
    </div>

    <div class='article-body'>
        <!-- <p markdown>{{article?.body}}</p> -->
        <markdown [data]='article?.body' ngPreserveWhitespaces></markdown>

        <div>
            <app-tags [tags]='article?.tagList'></app-tags>
        </div>
    </div>



    <div class="article-info footer">
        <div class="author-summary">
            <img src="" alt="">
            <div class='article-details'>
                <div class='author-name'>{{article?.author.username}}</div>
                <div clase='article-date'>{{article?.createdAt | date}}</div>
            </div>
        </div>
        <div class="favorites-count" [ngClass]='{favorited: favoriteStatus}' (click)='toggleFavorite(article, this.authService.userName); this.favoriteStatus === true ? article.favoritesCount = article.favoritesCount + 1 : article.favoritesCount = article.favoritesCount - 1'>
            <i class="fas fa-heart"></i> Favourite Article ({{article?.favoritesCount}})
        </div>
    </div>
</div>

<app-footer></app-footer>