<app-header></app-header>

<div class="main">
    <div class='home-banner'>
        <div>
            <h1>eBlog</h1>
            <span>A frontend developer challenge.</span>
        </div>
    </div>

    <div class='container mt-3 mb-3'>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class='tags-container'>
                    <h2>Popular Tags</h2>
                    <div>
                        <app-spinner *ngIf='!popularTags'></app-spinner>
                        <app-tags [tags]='popularTags' [isPopularTag]='true'></app-tags>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <ul class='feedsNav'>
                    <li (click)='select("Your Feed")' [ngClass]='{active: this.homeService.selected === "Your Feed"}'>Your Feed</li>
                    <li (click)='select("Global Feed")' [ngClass]='{active: this.homeService.selected === "Global Feed"}'>Global Feed</li>
                    <li class='active' *ngIf='this.tag'>#{{this.tag}}</li>
                </ul>


                <app-spinner *ngIf='!listOfArticles'></app-spinner>
                <ul class='article-list mb-3'>
                    <li class="singleArticle" *ngFor='let article of listOfArticles | paginate: config'>
                        <app-single-article [article]='article'></app-single-article>
                    </li>
                </ul>

                <div *ngIf='this.listOfArticles?.length > 0'>
                    <pagination-controls (pageChange)='pageChanged($event)' [nextLabel]='""' [previousLabel]='""' id='home'></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>